<br/>
<h3> Recent Added Books </h3>
<div class="row">
    <% books.forEach((book,index) =>{ %>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;margin-bottom: 20px;margin-top: 20px">
                <img height="381" src="<%= book.coverImagePath %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> <%= book.name %> </h5>
                    <p class="card-text"> <%=book.description %> </p>
                    <a href="/books/<%=book.id%>" class="btn btn-primary"> <i class="fas fa-eye"></i> View </a>
                </div>
            </div>
        </div>
    <% }) %>
</div>