<form style="display: inline-block" action="<%= url %>?_method=DELETE" method="POST" >
    <button type="submit" class="btn btn-danger">
         <i class="fas fa-trash-alt"></i> 
         Delete 
    </button>
</form>